@import '../../../../variables.scss';

mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: normal;
  margin-right: 2px;

  &.state-S {
    color: $color-success;    
  }

  &.state-E {
    color: $color-warning;
  }

  &.state-F {
    color: $color-error;
  }
}

.recipient {
  display: inline-flex;
  align-items: center;
}