<form fsForm [submit]="save" #form="ngForm" *fsSkeleton="message">
  <fs-dialog *ngIf="message">
    <div mat-dialog-title>Edit Message</div>
    <mat-dialog-content>

      <mat-tab-group>
        <mat-tab label="General">

          <div fxLayout="column">
            <mat-form-field>
              <input
                matInput
                placeholder="Name"
                [(ngModel)]="message.name"
                name="Name"
                required>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Description"
                [(ngModel)]="message.description"
                name="description">
            </mat-form-field>

            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayout.xs="column"
              fxLayout.sm="column">
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="From Email"
                  [(ngModel)]="message.emailMessage.fromEmail"
                  name="from_email">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="From Name"
                  [(ngModel)]="message.emailMessage.fromName"
                  name="from_name">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="Reply To"
                  [(ngModel)]="message.emailMessage.replyTo"
                  name="reply_to">
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayout.xs="column"
              fxLayout.sm="column">
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="To"
                  [(ngModel)]="message.emailMessage.toRecipients"
                  name="to">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="CC"
                  [(ngModel)]="message.emailMessage.ccRecipients"
                  name="cc">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="BCC"
                  [(ngModel)]="message.emailMessage.bccRecipients"
                  name="bcc">
              </mat-form-field>
            </div>

            <div
              fxLayout="row"
              fxLayoutGap="10px"
              fxLayout.sm="column"
              fxLayout.xs="column">
              <mat-form-field fxFlex>
                <input
                  matInput
                  placeholder="Subject"
                  [(ngModel)]="message.emailMessage.subject"
                  name="name"
                  required>
              </mat-form-field>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Email Message" *ngIf="message.emailMessage">
          <div fxLayout="column">

            <div fxLayout="row" fxLayoutGap="10px">

              <mat-form-field>
                <mat-select
                  required
                  placeholder="Format"
                  [(ngModel)]="message.emailMessage.format"
                  name="format">
                    <mat-option *ngFor="let item of emailMessageFormats" [value]="item.value">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-select
                  placeholder="Template"
                  [(ngModel)]="message.emailMessage.messageTemplateId"
                  name="template">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let item of messageTemplates" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>


            <ng-container *ngIf="message.emailMessage.format===emailMessageFormat.RichText">
              <fs-label>Body</fs-label>
              <fs-editor-rich-text
                [(ngModel)]="message.emailMessage.body"
                name="body">
              </fs-editor-rich-text>
            </ng-container>

            <ng-container *ngIf="message.emailMessage.format===emailMessageFormat.HTML">
              <mat-form-field
                fxFlex>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    placeholder="Body"
                    [(ngModel)]="message.emailMessage.body"
                    name="body"
                    class="textarea-html"
                    required>
                  </textarea>
              </mat-form-field>
            </ng-container>


            <mat-form-field
              fxFlex
              *ngIf="message.emailMessage.format===emailMessageFormat.Text">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  placeholder="Body"
                  [(ngModel)]="message.emailMessage.body"
                  name="body"
                  required>
                </textarea>
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab label="Defaults">
          <fs-label-field>
            <fs-label>Subject</fs-label>
            <div class="content">{{message.defaultEmailSubject}}</div>
          </fs-label-field>

          <br>

          <fs-label-field>
            <fs-label>Body</fs-label>
            <div class="content">{{message.defaultEmailBody}}</div>
          </fs-label-field>
        </mat-tab>
      </mat-tab-group>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button color="primary">Save</button>
      <button mat-button type="button" (click)="sendTest()" type="button">Send Test</button>
      <button mat-button [mat-dialog-close]="null" type="button">Cancel</button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
