<form
    fsForm
    [submit]="save"
    #form="ngForm"
    *fsSkeleton="message"
    [confirmTabs]="false">
  <fs-dialog *ngIf="message">
    <div mat-dialog-title>Edit Message</div>
    <mat-dialog-content>
      <mat-tab-group 
          fsTabs 
          [(selected)]="tab">
        <mat-tab label="General" name="general">
          <ng-template matTabContent>
            <div fxLayout="column">
              <div fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Name"
                    [(ngModel)]="message.name"
                    name="Name"
                    required>
                </mat-form-field>
                <fs-label-field>
                  <fs-label>Reference</fs-label>
                  {{message.reference}}
                </fs-label-field>
              </div>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Description"
                  [(ngModel)]="message.description"
                  name="description">
              </mat-form-field>

              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayout.xs="column"
                fxLayout.sm="column">
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="From Email"
                    [(ngModel)]="message.emailMessage.fromEmail"
                    name="from_email">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="From Name"
                    [(ngModel)]="message.emailMessage.fromName"
                    name="from_name">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Reply To"
                    [(ngModel)]="message.emailMessage.replyTo"
                    name="reply_to">
                </mat-form-field>
              </div>

              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayout.xs="column"
                fxLayout.sm="column">
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="To"
                    [(ngModel)]="message.emailMessage.toRecipients"
                    name="to">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="CC"
                    [(ngModel)]="message.emailMessage.ccRecipients"
                    name="cc">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="BCC"
                    [(ngModel)]="message.emailMessage.bccRecipients"
                    name="bcc">
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Email Message" *ngIf="message.emailMessage" name="email">
          <ng-template matTabContent>
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field>
                  <mat-select
                      required
                      placeholder="Customize Message"
                      [(ngModel)]="message.emailMessage.customize"
                      name="customizeEmail">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select
                    required
                    placeholder="Format"
                    [(ngModel)]="message.emailMessage.format"
                    name="format">
                      <mat-option *ngFor="let item of emailMessageFormats" [value]="item.value">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select
                    placeholder="Template"
                    [(ngModel)]="message.emailMessage.messageTemplateId"
                    name="template">
                      <mat-option [value]="null">None</mat-option>
                      <mat-option *ngFor="let item of messageTemplates" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
              <ng-container *ngIf="message.emailMessage.customize">
                <mat-form-field fxFlex>
                  <input
                    matInput
                    placeholder="Subject"
                    [(ngModel)]="message.emailMessage.subject"
                    name="name"
                    required>
                </mat-form-field>

                <div [@.disabled]="true">
                  <mat-tab-group [dynamicHeight]="false">
                    <mat-tab label="Content">
                      <ng-template matTabContent>
                        <ng-container *ngIf="message.emailMessage.format===emailMessageFormat.HTML">
                          <fs-text-editor                          
                            [(ngModel)]="message.emailMessage.body"
                            name="body"
                            [config]="{ language: 'html '}">
                          </fs-text-editor>
                        </ng-container>

                        <ng-container *ngIf="message.emailMessage.format===emailMessageFormat.RichText">
                          <fs-html-editor                          
                            [(ngModel)]="message.emailMessage.body"
                            name="body">
                          </fs-html-editor>
                        </ng-container>

                        <ng-container *ngIf="message.emailMessage.format===emailMessageFormat.Text">
                          <fs-text-editor                            
                            [(ngModel)]="message.emailMessage.body"
                            name="emailMessageBody"
                            [config]="{ language: 'text' }">
                          </fs-text-editor>
                        </ng-container>
                      </ng-template>
                    </mat-tab>
                    <mat-tab
                        *ngIf="message.emailMessage.format===emailMessageFormat.HTML || message.emailMessage.format===emailMessageFormat.RichText"
                        label="Styles">
                      <ng-template matTabContent>
                        <fs-text-editor
                          [(ngModel)]="message.emailMessage.styles"
                          name="styles"
                          [config]="{ language: 'scss' }">
                        </fs-text-editor>
                      </ng-template>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </ng-container>

              <ng-container *ngIf="!message.emailMessage.customize">
                <fs-label-field>
                  <fs-label>Subject</fs-label>
                  {{message.defaultEmailSubject}}
                </fs-label-field>
                <div>
                  <fs-label-field>
                    <fs-label>Content</fs-label>
                    <div class="email-body-html-default">
                      <fs-html-renderer
                        *ngIf="message.emailMessage.format===emailMessageFormat.RichText || message.emailMessage.format===emailMessageFormat.HTML"
                        [html]="message.defaultEmailBody">
                      </fs-html-renderer>
                    </div>
                    <div
                      class="email-body-text-default"
                      *ngIf="message.emailMessage.format===emailMessageFormat.Text">
                      {{message.defaultEmailBody}}
                    </div>
                  </fs-label-field>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </mat-tab>

        <ng-container *ngIf="!!message.smsMessage">
          <mat-tab label="SMS Message" name="sms">
            <ng-template matTabContent>
              <mat-form-field>
                <mat-select
                  required
                  placeholder="Customize Message"
                  [(ngModel)]="message.smsMessage.customize"
                  name="customizeSms">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                  </mat-select>
              </mat-form-field>
              <div
                  *ngIf="message.smsMessage.customize"
                  [@.disabled]="true">
                <mat-tab-group [dynamicHeight]="false">
                  <mat-tab label="Content">
                    <ng-template matTabContent>
                      <fs-text-editor
                        [(ngModel)]="message.smsMessage.message"
                        name="smsMessageMessage"
                        [config]="{ language: 'text '}">
                      </fs-text-editor>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <fs-label-field *ngIf="!message.smsMessage.customize">
                  <fs-label>Message</fs-label>
                  {{message.defaultSmsMessage}}
              </fs-label-field>
            </ng-template>
          </mat-tab>
        </ng-container>

        <mat-tab label="Attachments" *ngIf="message.emailMessage" name="attachments">
          <ng-template matTabContent>
            <fs-app-message-attachments 
              [message]="message">
            </fs-app-message-attachments>
          </ng-template>
        </mat-tab>

        <mat-tab label="Variables" *ngIf="message.variables">
          <ng-template matTabContent>
            <div *ngFor="let variable of message.variables" class="variable">
              {{variable.name}}
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Defaults">
          <ng-template matTabContent>
            <ng-container *ngIf="message.emailMessage">
              <h2 *ngIf="message.emailMessage && message.smsMessage">Email</h2>
              <fs-label-field>
                <fs-label>Subject</fs-label>
                <div class="content">{{message.defaultEmailSubject}}</div>
              </fs-label-field>
              <fs-label-field>
                <fs-label>Content</fs-label>
                <div class="content">{{message.defaultEmailBody}}</div>
              </fs-label-field>
            </ng-container>
            <ng-container *ngIf="message.smsMessage">
              <h2 *ngIf="message.emailMessage && message.smsMessage">SMS</h2>
              <fs-label-field>
                <fs-label>Content</fs-label>
                <div class="content">{{message.defaultSmsMessage}}</div>
              </fs-label-field>
            </ng-container>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

    </mat-dialog-content>
    <mat-dialog-actions>
      <ng-container *ngIf="tab==='email' || tab==='sms' || tab==='general'; else done">
        <button 
            mat-button 
            color="primary">
          Save
        </button>     
        <ng-container *ngIf="tab==='email'">
          <button            
              mat-button
              type="button"
              (click)="openPreview()"
              type="button">
            Preview
          </button>
          <button
              mat-button
              type="button"
              (click)="sendTest('email')"
              type="button">
            Send Test Email
          </button>
        </ng-container>
        <ng-container *ngIf="tab==='sms'">
          <button            
              mat-button
              type="button"
              (click)="sendTest('sms')"
              type="button">
            Send Test SMS
          </button>
        </ng-container>
        <button 
            mat-button 
            [mat-dialog-close]="null" 
            type="button">
          Cancel
        </button>
      </ng-container> 
      <ng-template #done>
        <button 
            mat-button 
            color="primary"
            [mat-dialog-close]="null" 
            type="button">
          Close
        </button>
      </ng-template>
    </mat-dialog-actions>
  </fs-dialog>
</form>
