fs-label-field {
  .content {
    white-space: pre-wrap;
  }
}

:host ::ng-deep {
  .sms-message {
    width: 100%;
    textarea {
      font-family: monospace;
    }
  }

  .email-body-html {
    width: 100%;
    textarea {
      font-family: monospace;
      min-height: 300px;
    }
  }
}
