fs-label-field {
  .content {
    white-space: pre-wrap;
  }
}

:host ::ng-deep {
  .mat-tab-body-content,
  .mat-tab-body {
    overflow: visible;
  }

  .sms-message {
    width: 100%;
  }

  .email-body-text-default,
  .email-body-html-default {
    white-space: pre-line;
  }
}

.email-body-text {
  width: 100%;
}

.variable {
  margin-bottom: 4px;
}
