<fs-list [config]="config" #list>
  <fs-list-column title="Message" name="subject" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      <ng-container *ngIf="row.emailMessageQueue">
        <div class="fs-row.gap-tiny">
          <a (click)="open(row)">{{row.emailMessageQueue.subject|truncate:100}}</a>
          <mat-icon *ngIf="row.messageQueueAttachmentCount" [matTooltip]="row.messageQueueAttachmentCount + ' Attachment(s)'">attach_file</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngIf="row.smsMessageQueue">
        <a (click)="open(row)">{{row.smsMessageQueue.body|truncate:100}}</a>
      </ng-container>
    </ng-template>
  </fs-list-column>
  <fs-list-column title="Recipients" class="col-recipients">
    <ng-template fs-list-cell let-row="row">
      <ng-container *ngIf="row.emailMessageQueue">
        <ng-container *ngIf="row.emailMessageQueue.toRecipients.length; else unspecified">
          <div class="small" *ngFor="let recipient of row.emailMessageQueue.toRecipients">
            <app-recipient 
              [state]="row.messageQueueRecipients[recipient] || row.state"
              [name]="recipient">
            </app-recipient>
          </div>
        </ng-container>
        <div class="small" *ngFor="let recipient of row.emailMessageQueue.ccRecipients">
          <app-recipient 
            [state]="row.messageQueueRecipients[recipient] || row.state"
            [name]="recipient">
          </app-recipient>
        </div>
        <div class="small" *ngFor="let recipient of row.emailMessageQueue.bccRecipients">
          <app-recipient             
            [state]="row.messageQueueRecipients[recipient] || row.state"
            [name]="recipient">
          </app-recipient>
        </div>
      </ng-container>
      <ng-container *ngIf="row.smsMessageQueue">
        <ng-container *ngIf="row.smsMessageQueue.toNumber; else unspecified">
          <app-recipient 
            class="small"
            [state]="row.state"
            [name]="row.smsMessageQueue.toNumber">
          </app-recipient>
        </ng-container>
      </ng-container>
    </ng-template>
  </fs-list-column> 
  <fs-list-column title="Status" class="col-state">
    <ng-template fs-list-cell let-row="row">    
      <ng-container *ngIf="row.scheduled; else state">
        Scheduled
        <div class="small">
           {{row.scheduledDate | fsDateFormat: 'date-time' }}
        </div>
      </ng-container>
      <ng-template #state>
        <span [class]="'state-' + row.state">{{messageQueueStates[row.state]}}</span>
      </ng-template>
    </ng-template>
  </fs-list-column> 
  <fs-list-column title="Date" name="created_date" [sortable]="true">
    <ng-template fs-list-cell let-row="row">
      {{ row.createdDate | fsDateFormat: 'date-time-yeardiff' }}
    </ng-template>
  </fs-list-column>
</fs-list>

<ng-template #unspecified>
  <app-recipient 
    class="small"
    [state]="MessageQueueState.Failed"
    name="Unspecified">
  </app-recipient>
</ng-template>