.subject, .body {
  display: block;
  margin-top: 15px;
}

.body {
  .format-text {
    white-space: pre-wrap;
  }

  .body-frame {
    border: 0;
  }

  ::ng-deep .field-label {
    margin-bottom: 10px;
  }
}

[hidden] {
  display: none !important;
}
