<fs-dialog *fsSkeleton="messageQueue">
  <div mat-dialog-title>Message Queue</div>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Overview">
        <ng-template matTabContent>
          <div fxLayout="row wrap" fxLayoutGap="25px">
            <fs-label-field>
              <fs-label>
                Status
              </fs-label>
              {{messageQueueStates[messageQueue.state]}}
            </fs-label-field>

            <fs-label-field>
              <fs-label>
                Date
              </fs-label>
              {{messageQueue.scheduledDate | fsDateFormat: 'full-date-time'}}
            </fs-label-field>

            <ng-container *ngIf="messageQueue.emailMessageQueue">
              <fs-label-field>
                <fs-label>
                    Recipients
                </fs-label>
                {{messageQueue.emailMessageQueue.toRecipients.join(', ')}}
              </fs-label-field>

              <fs-label-field *ngIf="messageQueue.emailMessageQueue.fromName || messageQueue.emailMessageQueue.fromEmail">
                <fs-label>
                  From
                </fs-label>
                <ng-container *ngIf="messageQueue.emailMessageQueue.fromName === messageQueue.emailMessageQueue.fromEmail; else fromEmailName">
                  {{messageQueue.emailMessageQueue.fromName}}
                </ng-container>

                <ng-template #fromEmailName>
                  {{messageQueue.emailMessageQueue.fromName}} ({{messageQueue.emailMessageQueue.fromEmail}})
                </ng-template>
              </fs-label-field>
            </ng-container>

            <fs-label-field>
              <fs-label>
                Send Attempts
              </fs-label>
              {{messageQueue.attempts}}
            </fs-label-field>

            <fs-label-field *ngIf="messageQueue.message">
              <fs-label>
                Message Type
              </fs-label>
              <a
                (click)="openMessage(messageQueue.message)"
                *ngIf="loadMessage; else elseMessage">
                {{messageQueue.message.name}}
              </a>
              <ng-template #elseMessage>
                {{messageQueue.message.name}}
              </ng-template>
            </fs-label-field>
          </div>

          <ng-container *ngIf="messageQueue.emailMessageQueue">
            <fs-label-field class="subject">
              <fs-label>
                Subject
              </fs-label>
              {{messageQueue.emailMessageQueue.subject}}
            </fs-label-field>

            <fs-label-field class="body">
              <fs-label>
                Body
              </fs-label>
              <div
                  *ngIf="messageQueue.emailMessageQueue.format===emailMessageQueueFormat.Text"
                  class="format-text"
                  [innerHTML]="messageQueue.emailMessageQueue.body | linkify">
              </div>
              <iframe
                #bodyFrame
                *ngIf="messageQueue.emailMessageQueue.format===emailMessageQueueFormat.HTML || messageQueue.emailMessageQueue.format===emailMessageQueueFormat.RichText"
                width="100%"
                class="body-frame">
              </iframe>
            </fs-label-field>
          </ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="Logs">
        <ng-template matTabContent>
          <fs-list [config]="logConfig">
            <fs-list-column title="Message">
              <ng-template fs-list-cell let-row="row">
                {{row.message}}
              </ng-template>
            </fs-list-column>
            <fs-list-column title="Date">
              <ng-template fs-list-cell let-row="row">
                <fs-date-ago [date]="row.createdDate"></fs-date-ago>
              </ng-template>
            </fs-list-column>
          </fs-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Attachments">
        <ng-template matTabContent>
          <fs-list [config]="attachmentConfig">
            <fs-list-column title="File Name">
              <ng-template fs-list-cell let-row="row">
                {{row.filename}}
              </ng-template>
            </fs-list-column>
            <fs-list-column title="File Size">
              <ng-template fs-list-cell let-row="row">
                {{row.prettyFilesize}}
              </ng-template>
            </fs-list-column>
          </fs-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
        mat-button
        [mat-dialog-close]="null"
        color="primary">
      Done
    </button>
    <button
        mat-button
        *ngIf="resendMessageQueue"
        type="button"
        (click)="resend()"
        type="button">
      Resend
    </button>
    <button
        mat-button
        *ngIf="forwardMessageQueue"
        type="button"
        (click)="forward()"
        type="button">
      Forward
    </button>
  </mat-dialog-actions>
</fs-dialog>
