<fs-dialog *fsSkeleton="messageQueue">
  <fs-dialog-title>
    Message queue
    <ng-template fsDialogSubtitle>
      ID: {{ messageQueue.id }}
    </ng-template>
  </fs-dialog-title>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Overview">
        <ng-template matTabContent>
          <div class="fs-row.gap-lg.wrap">
            @if (messageQueue.emailMessageQueue) {
              <fs-label-field>
                <fs-label>
                  To Recipients
                </fs-label>
                @for (recipient of messageQueue.emailMessageQueue.toRecipients; track recipient) {
                  <app-recipient
                    [state]="messageQueueRecipients[recipient]"
                    [name]="recipient">
                  </app-recipient>
                }
              </fs-label-field>
              @if (messageQueue.emailMessageQueue.ccRecipients.length) {
                <fs-label-field>
                  <fs-label>
                    CC
                  </fs-label>
                  @for (recipient of messageQueue.emailMessageQueue.ccRecipients; track recipient) {
                    <app-recipient
                      [state]="messageQueueRecipients[recipient]"
                      [name]="recipient">
                    </app-recipient>
                  }
                </fs-label-field>
              }
              @if (messageQueue.emailMessageQueue.bccRecipients.length) {
                <fs-label-field>
                  <fs-label>
                    BCC
                  </fs-label>
                  @for (recipient of messageQueue.emailMessageQueue.bccRecipients; track recipient) {
                    <app-recipient
                      [state]="messageQueueRecipients[recipient]"
                      [name]="recipient">
                    </app-recipient>
                  }
                </fs-label-field>
              }
              @if (messageQueue.emailMessageQueue.fromName || messageQueue.emailMessageQueue.fromEmail) {
                <fs-label-field>
                  <fs-label>
                    From
                  </fs-label>
                  @if (messageQueue.emailMessageQueue.fromName === messageQueue.emailMessageQueue.fromEmail) {
                    {{ messageQueue.emailMessageQueue.fromName }}
                  } @else {
                    {{ messageQueue.emailMessageQueue.fromName }}
                    @if (messageQueue.emailMessageQueue.fromEmail) {
                      ({{ messageQueue.emailMessageQueue.fromEmail }})
                    }
                  }
                </fs-label-field>
              }
              @if (messageQueue.emailMessageQueue.replyEmail && messageQueue.emailMessageQueue.replyEmail.length) {
                <fs-label-field>
                  <fs-label>
                    Reply To
                  </fs-label>
                  {{ messageQueue.emailMessageQueue.replyEmail.join(', ') }}
                </fs-label-field>
              }
            }
            @if (messageQueue.smsMessageQueue) {
              <fs-label-field>
                <fs-label>
                  To Number
                </fs-label>
                <app-recipient
                  [state]="messageQueue.state"
                  [name]="messageQueue.smsMessageQueue.toNumber">
                </app-recipient>
              </fs-label-field>
              @if (messageQueue.smsMessageQueue.fromNumber) {
                <fs-label-field>
                  <fs-label>
                    From Number
                  </fs-label>
                  {{ messageQueue.smsMessageQueue.fromNumber }}
                </fs-label-field>
              }
            }
            <fs-label-field>
              <fs-label>
                Date
              </fs-label>
              {{ messageQueue.scheduledDate | fsDateFormat: 'full-date-time' }}
            </fs-label-field>
            <fs-label-field>
              <fs-label>
                Status
              </fs-label>
              {{ messageQueueStates[messageQueue.state] }}
            </fs-label-field>
            @if (messageQueue.message) {
              <fs-label-field>
                <fs-label>
                  Message Type
                </fs-label>
                @if (loadMessage) {
                  <a
                    (click)="openMessage(messageQueue.message)"
                    >
                    {{ messageQueue.message.name }}
                  </a>
                } @else {
                  {{ messageQueue.message.name }}
                }
              </fs-label-field>
            }
          </div>
          @if (messageQueue.emailMessageQueue) {
            <fs-label-field class="subject">
              <fs-label>
                Subject
              </fs-label>
              {{ messageQueue.emailMessageQueue.subject }}
            </fs-label-field>
            <fs-label-field class="body">
              <fs-label>
                Body
              </fs-label>
              @if (messageQueue.emailMessageQueue.format===emailMessageQueueFormat.Text) {
                <div
                  class="format-text"
                  [innerHTML]="messageQueue.emailMessageQueue.body">
                </div>
              }
              @if (messageQueue.emailMessageQueue.format===emailMessageQueueFormat.HTML || messageQueue.emailMessageQueue.format===emailMessageQueueFormat.RichText) {
                <fs-iframe
                  [html]="messageQueue.emailMessageQueue.body"
                  [width]="'100%'">
                </fs-iframe>
              }
            </fs-label-field>
          }
          @if (messageQueue.smsMessageQueue) {
            <fs-label-field>
              <fs-label>
                Message
              </fs-label>
              <div
                class="format-text"
                [innerHTML]="messageQueue.smsMessageQueue.body">
              </div>
            </fs-label-field>
          }
        </ng-template>
      </mat-tab>
      <mat-tab label="Logs">
        <ng-template matTabContent>
          <fs-list
            [config]="logConfig"
            #logList>
            <fs-list-column title="Message">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ row.message }}
              </ng-template>
            </fs-list-column>
            <fs-list-column title="Date">
              <ng-template
                fs-list-cell
                let-row="row">
                <fs-date-ago [date]="row.createdDate"></fs-date-ago>
              </ng-template>
            </fs-list-column>
          </fs-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Attachments">
        <ng-template matTabContent>
          <fs-list [config]="attachmentConfig">
            <fs-list-column title="File Name">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ row.filename }}
              </ng-template>
            </fs-list-column>
            <fs-list-column title="File Size">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ row.prettyFilesize }}
              </ng-template>
            </fs-list-column>
          </fs-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Events">
        <ng-template matTabContent>
          <fs-list [config]="eventConfig">
            <fs-list-column title="Recipient">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ row.messageQueueRecipient.recipient }}
              </ng-template>
            </fs-list-column>
            <fs-list-column title="Event">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ MessageQueueEventTypes[row.type] }}
                @if (row.type === MessageQueueEventType.Click) {
                  <div
                    class="small"
                    >
                    <a
                      [href]="row.meta?.url"
                      target="_blank">
                      {{ row.meta?.url }}
                    </a>
                  </div>
                }
              </ng-template>
            </fs-list-column>
            <fs-list-column title="Date">
              <ng-template
                fs-list-cell
                let-row="row">
                {{ row.createDate | fsDateFormat: 'date-time-yearless' }}
              </ng-template>
            </fs-list-column>
          </fs-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="null"
      color="primary">
      Done
    </button>
    @if (resendMessageQueue) {
      <button
        mat-button
        type="button"
        (click)="resend()"
        type="button">
        Resend
      </button>
    }
    @if (forwardMessageQueue) {
      <button
        mat-button
        type="button"
        (click)="forward()"
        type="button">
        Forward
      </button>
    }
  </mat-dialog-actions>
</fs-dialog>